@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

body {
    background-color: snow;
    color: rgb(187, 8, 8);
    min-height: 100%;
    cursor: url("https://drive.google.com/uc?id=1lXdwHT60G4jFO2C9sJH7I2qSiF2YrGff"), default;
}


h1 {
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
    font-size: 2rem;
}

h2 {
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
}

section.maria_est_belle {
    display: flex;
    justify-content: center;
}

pre {
    border: 1px solid red;
    padding: 2rem;
}

pre.maria_est_la_plus_forte {
    font-size: small;
}

@media screen and (min-width:720px) {
    pre.maria_est_la_plus_forte {
        font-size: large;
    }
}

a {
    text-decoration: none;
    color: rgb(187, 8, 8);
    cursor: url("https://drive.google.com/uc?id=1lXdwHT60G4jFO2C9sJH7I2qSiF2YrGff"), default;
}

span.boule {
    color: rgb(30, 151, 6);
}

.tronc {
    color: rgb(189, 121, 4)
}

.snow {
    color: rgb(132, 132, 173)
}

.deco1 {
    color: darkmagenta
}

.lecteur {
    display: flex;
    justify-content: center;
}

#miaou {
    display: none;
    color: black;
    font-size: small;
}

.lapin {
    color: orange;
}


#decompte {
    font-size: small;
    justify-content: center;
    width: 100vw;
    display: none;
}

@media screen and (min-width:720px) {
    #decompte {
        font-size: initial;
        justify-content: center;
        width: 100vw;
        display: none;
    }
}

#blague {
    text-align: center;
}